
.viewNavigator_root {
	width:100%;
	height:100%;
	background-color:#8C001A;
	overflow:hidden;
}

.viewNavigator_header {
	position:absolute;
	width:100%;
	height:36px;
	overflow:hide;
	padding-top:5px;
	top:0px
}

.viewNavigator_header_backlink {
	position:absolute;
	top:0px;
	left:0px;
	z-index:2;
	
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    
    max-width:30%;
}

.viewNavigator_header_title {

	position:absolute;
	top:2px;
	left:0%;
	right:0%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-weight: bold;
	color: #FFFFFF;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    
    max-width:48%;
}

.viewNavigator_headerContent {

    backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);

	position:absolute;
}

.viewNavigator_content {
	position:absolute;
	top:36px;
	left:0px;
	right:0px;
	bottom:0px;
	overflow:hidden;
	
   backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
    -webkit-transform:translate3d(0,0,0);
}


/* ANDROID BUG WORKAROUND */
.viewNavigator_content select {
	overflow:auto;
	position:relative;
    backface-visibility: auto;
	-webkit-backface-visibility: auto;
}

/*
.viewNavigator_content div {

    backface-visibility: visible;
    -webkit-backface-visibility: visible;
    -webkit-transform: translate3d(0,0,0);
}*/

.viewNavigator_contentHolder {
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background-color:white;
	overflow:auto;
	padding:0px;
	margin:0px;
    overflow: hidden;
	-webkit-overflow-scrolling : touch;
	min-width:100%;
	min-height:100%

    backface-visibility: hidden;
	-webkit-backface-visibility: hidden;

}

.viewNavigator_backface {
/*    backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
*/
}

.viewNavigator_backButtonPosition {
	position:absolute;
	left: 5px;
	top: .6em;
}

.viewNavigator_backButton
{
	cursor:pointer;
	display: inline-block;
	white-space: nowrap;
	background-color: transparent;
	border-radius: .2em;
	padding: 4px 10px;
	box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}

.viewNavigator_backButton:active
{
	background-color: transparent;
}
