
<div id="aboutView">
    <h2>Wine World</h2>
    L'appli <strong>Wine World</strong> est le moyen le plus simple pour localiser les vignerons a proximité de votre lieu. Vous pourrez également affiner votre recherche par canton, ville ou même par cépage !
    <br/> <br/>
    Cette appli est idéale pour découvrir de nouvelles cave et goûter de nouveaux vins pendant vos promenades.
    <br/> <br/>
    Toutes les informations disponibles ont été transmises par les vignerons partenaires et seront fréquement mises à jour.
    <br/>
    Nous espérons que cette app vous plaise et vous amuse autant que nous lors de sa création. Nous sommes à votre écoute pour tout commentaire ou suggestion.
    <hr/><strong>Wine World</strong> est une <a href="javascript:openExternalURL('http://ms-webservices.ch/')">création de MS-WEBSERVICES</a>, avec les différents outils suivants :
    <ul>
        <li><a href="javascript:openExternalURL('http://www.phonegap.com')">PhoneGap</a></li>
        <li><a href="javascript:openExternalURL('http://www.jquery.com')">jQuery</a></li>
        <li><a href="javascript:openExternalURL('https://github.com/janl/mustache.js')">Mustache.js</a></li>
        <li><a href="javascript:openExternalURL('http://triceam.github.com/app-UI')">app-UI</a></li>
        <li><a href="javascript:openExternalURL('http://leaflet.cloudmade.com/')">Leaflet</a></li>
        <li><a href="javascript:openExternalURL('http://appicontemplate.com')">App Icon Template</a></li>
    </ul>
    Map imagery &copy; 2011 <a href="javascript:openExternalURL('http://openstreetmap.org/')">OpenStreetMap</a>
    
    <hr/><strong>Wine World</strong> espère séduire de plus en plus de monde afin d'étendre l'appli à travers d'autres pays, nous souhaitons rapidement pouvoir couvrir la France et l'Italie. <br/>A terme nous adorerions être une appli mondiale pour tous les amoureux du vins où qu'ils soient !    
    
</div>