
<div id="defaultView">
    <div><a id="nearMe" href="#">Vignerons à proximité</a></div>
    <div><a id="search" href="#">Chercher un vigneron</a></div>
    <div><a id="about" href="#">Infos</a></div>
    <div id="preload" style="display:none">
        <div id="bakedgoods" class="amenities">Chardonnay</div>
        <div id="cheese" class="amenities">Chasselas / Fendant</div>
        <div id="arts" class="amenities">Humagne blanche</div>
        <div id="flowers" class="amenities">Petite Arvine</div>
        <div id="seafood" class="amenities">Pinot blanc</div>
        <div id="fruit" class="amenities">Riesling</div>
        <div id="herbs" class="amenities">Sylvaner / Johanisberg</div>
        <div id="vegetables" class="amenities">Cornalin</div>
        <div id="honey" class="amenities">Gamaret</div>
        <div id="jams" class="amenities">Gamay</div>
        <div id="maple" class="amenities">Garanoir</div>
        <div id="nuts" class="amenities">Merlot<</div>
        <div id="meat" class="amenities">Pinot noir</div>
        <div id="plants" class="amenities">Syrah</div>
        <div id="soap" class="amenities">Assemblages</div>
    </div>
</div>
