<div id="searchResultsView" class="data-list" >
    <div class="padded heading">
        <a id="mapButton" class="button right">VOIR LA CARTE</a>
        Resultats avec les critères: <br/>{{criteria}} 
    </div>
    
    {{#overLength}}
    <div class="padded warning">Seulement les 50 premiers résultats sont affichés !</div>
    {{/overLength}}
    
    <ul>
        {{#markets}}
        <li index="{{index}}">
            <strong>{{marketName}}</strong><br/>
            {{#street}}
            {{street}}<br/>
            {{/street}}
            {{city}}, {{state}}, {{zip}}
        </li>
        {{/markets}}
    </ul>
    
    
</div>